<table>
  <thead>
    <th>Game Art</th>
    <th>Game Name</th>
    <th>Achievements Earned</th>
    <th>Current Gamerscore</th>
    <th>Complete (%)</th>
  </thead>
  <tbody>
    <%= @selected_game %>
  </tbody>
</table>